@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


/* Apply Roboto for body text */
body {
  font-family: 'Roboto', sans-serif;
  color: #d3d3d3;
  /* Example color for text */
}

/* Apply Montserrat for headings */
h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  /* Example color for headings */
}
h4 {
  max-width: 60%;
  overflow-wrap: break-word;
  margin-right: 16px;
  flex-shrink: 0;
}

p,div {
  text-align: justify;
}
span,ul {
  text-align: justify;
}

img {
  mix-blend-mode: multiply;
}